{% extends 'base.html' %}


{% block content %}

<h2 class="text-danger">{{message}}</h2>
<h4>Please go back and try again!</h4>

<button action="action" class="btn btn-primary btn-lg" onclick="window.history.go(-1); return false;" type="button" >Go Back And Correct Mistakes</button>
{% endblock %}
