{% extends 'base.html' %}


{% block content %}
<script>
 $(document).ready( () => $('#category-color').colorPicker({readOnly: true}));
</script>

<form method="POST">{% csrf_token %}
	<div class="row">

		<div class="col">
			<input type="text" class="form-control" id="category-name" required name="category-name" placeholder="Enter Category Name">
			<input type="text" class="form-control" id="category-color" required name="category-color" placeholder="Enter Category Color">
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary">Add New Category</button>
		</div>
	</div>
</form>

<hr>
<div class="container-fluid">
	<table class="table table-sm table-bordered">
		<thead>
			<tr>
				<th scope="col">Category Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
			<tr>
				<td style="background-color: {{category.colour}}"><h4>{{category.name}}</h4></td>
				<td>
					<a href="{% url 'delete-test-category' category.id %}" class="btn btn-danger">Delete</a>
					<a href="{% url 'update-test-category' category.id %}" class="btn btn-warning">Update</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
