{% extends 'base.html' %}


{% block content %}

<form method="POST">{% csrf_token %}
	<div class="form-row">
		<div class="col col-sm-2 mb-3">
			<input type="text" name="test-acronym" class="form-control" placeholder="Test Acronym" required>
		</div>
		<div class="col col-sm-4 mb-3">
			<input type="text" name="test-name" class="form-control" placeholder="Test Name" required>
		</div>
		<div class="col col-sm-2 mb-3">
			<input type="text" name="test-unit" class="form-control" placeholder="Unit">
		</div>
		<div class="col mb-3">
			<input type="text" name="test-method" class="form-control" placeholder="Method">
		</div>
	</div>
	<div class="form-row">
		<div class="col mb-3">
			<input type="text" name="test-calculated-value" class="form-control" placeholder="Calculated Value">
		</div>
		<div class="input-group col col-sm-6 md-6">
			<input type="text" name="test-ref-value" class="form-control" placeholder="Reference Value" required value="()">
		</div>
		<div class="input-group col col-sm-6 md-6">
			<select class="custom-select" id="form-category" name="test-category" required>
				<option selected value="">Choose a category...</option>
				{% for category in categories %}
				<option value="{{category.id}}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<hr>
	<div class="form-row">
		{% for group in groups %}
		<div class="input-group mb-2 mr-sm-2 col-sm-6">
			<div class="input-group-prepend">
				<div class="input-group-text">{{group.name | capfirst}} Price</div>
			</div>
			<input type="number" class="form-control" name="test-{{group.id}}-price" id="test-{{group.id}}-price" placeholder="{{group.name | capfirst}} Price" {% if group.default %} value="0" {% endif %} >
		</div>
		{% endfor %}
	</div>
	<button type="submit" class="btn btn-primary mb-3">Add New Test Type</button>
</form>

<h3> Latest Tests</h3>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Acronym</th>
			<th scope="col">Name</th>
			<th scope="col">Unit</th>
			<th scope="col">Category</th>
			<th scope="col">Reference Value</th>
			<th scope="col">Reference Type</th>
			<th scope="col">Price</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for test in testtypes %}
		<tr>
			<th class="col-1" scope="row">{{test.id}}</th>
			<td class="col-1">{{test.acronym}}</td>
			<td class="col-2">{{test.name}}</td>
			<td class="col-1">{{test.unit}}</td>
			<td class="col-1">{{test.category.name}}</td>
			<td class="col-1">{{test.ref_value}}</td>
			<td class="col-1">{{test.ref_type}}</td>
			<td class="col-2">{% for group in test.groups.all %} <p>{{group.group.name}} : {{group.price}}</p> {% endfor %}</td>
			<td class="col-2">
				<a class="btn btn-danger" href="{% url 'delete-test-type' test.id %}">Delete</a>
				<a class="btn btn-warning" href="{% url 'update-test-type' test.id %}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
