{% extends 'base.html' %}


{% block content %}
<form method="POST">{% csrf_token %}
	<div class="row">

		<div class="col">
			<input type="text" class="form-control" id="group-name" required name="group-name" placeholder="Enter Test Group Name">
		</div>
		<div class="col">
			<input type="number" class="form-control" id="group-total" name="group-total" placeholder="Test Group Total">
		</div>

		<div class="col">
			<button type="submit" class="btn btn-primary">Add New Group</button>
		</div>

	</div>
</form>

<hr>
<div class="container-fluid">
	<table class="table table-sm table-bordered">
		<thead>
			<tr>
				<th scope="col">Group Name</th>
				<th scope="col">Total Applied</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for group in groups %}
			<tr>
				<td>{{group.name}}</td>
				<td>{% if group.apply_total %} Total = {{group.total}} {% else %} Total Not Applied {% endif %}</td>
				<td>
					<a href="{% url 'delete-test-group' group.id %}" class="btn btn-danger">Delete</a>
					<a href="{% url 'update-test-group' group.id %}" class="btn btn-warning">Update</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
