{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="/static/js/jquery-3.4.1.slim.min.js"></script>
		<script src="/static/js/popper.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/color.all.min.js"></script>
		<script src="/static/js/jQueryColorPicker.min.js"></script>
		<title>PPRA</title>
	</head>
	<body>
		<style>
		 .bd-placeholder-img {
			 font-size: 1.125rem;
			 text-anchor: middle;
			 -webkit-user-select: none;
			 -moz-user-select: none;
			 -ms-user-select: none;
			 user-select: none;
		 }

		 @media (min-width: 768px) {
			 .bd-placeholder-img-lg {
				 font-size: 3.5rem;
			 }
		 }
		 body {
			 font-size: .875rem;
		 }

		 .feather {
			 width: 16px;
			 height: 16px;
			 vertical-align: text-bottom;
		 }

		 /*
		  * Sidebar
		  */

		 .sidebar {
			 position: fixed;
			 top: 0;
			 bottom: 0;
			 left: 0;
			 z-index: 100; /* Behind the navbar */
			 padding: 48px 0 0; /* Height of navbar */
			 box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
		 }

		 .sidebar-sticky {
			 position: relative;
			 top: 0;
			 height: calc(100vh - 48px);
			 padding-top: .5rem;
			 overflow-x: hidden;
			 overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		 }

		 @supports ((position: -webkit-sticky) or (position: sticky)) {
			 .sidebar-sticky {
				 position: -webkit-sticky;
				 position: sticky;
			 }
		 }

		 .sidebar .nav-link {
			 font-weight: 500;
			 color: #333;
		 }

		 .sidebar .nav-link .feather {
			 margin-right: 4px;
			 color: #999;
		 }

		 .sidebar .nav-link.active {
			 color: #007bff;
		 }

		 .sidebar .nav-link:hover .feather,
		 .sidebar .nav-link.active .feather {
			 color: inherit;
		 }

		 .sidebar-heading {
			 font-size: .75rem;
			 text-transform: uppercase;
		 }

		 /*
		  * Content
		  */

		 [role="main"] {
			 padding-top: 133px; /* Space for fixed navbar */
		 }

		 @media (min-width: 768px) {
			 [role="main"] {
				 padding-top: 48px; /* Space for fixed navbar */
			 }
		 }

		 /*
		  * Navbar
		  */

		 .navbar-brand {
			 padding-top: .75rem;
			 padding-bottom: .75rem;
			 font-size: 1rem;
			 background-color: rgba(0, 0, 0, .25);
			 box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
		 }

		 .navbar .form-control {
			 padding: .75rem 1rem;
			 border-width: 0;
			 border-radius: 0;
		 }

		 .form-control-dark {
			 color: #fff;
			 background-color: rgba(255, 255, 255, .1);
			 border-color: rgba(255, 255, 255, .1);
		 }

		 .form-control-dark:focus {
			 border-color: transparent;
			 box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
		 }

		</style>
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">PPRA </a>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<h5>Tests</h5>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'tests' %}">
									<span data-feather="file-text"></span>
									View All Tests
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'paid-tests' %}">
									<span data-feather="file-text"></span>
									View Paid Tests
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'unpaid-tests' %}">
									<span data-feather="file-text"></span>
									View Unpaid Tests
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/add-test">
									<span data-feather="file"></span>
									Add New Test
								</a>
							</li>
							<li class="nav-item">
								<h5>Taxes</h5>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'taxes' %}">
									<span data-feather="layers"></span>
									View All Taxes
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'create-tax' %}">
									<span data-feather="layers"></span>
									Add New Tax
								</a>
							</li>

							<li class="nav-item">
								<h5>Test Types</h5>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'testtypes' %}">
									<span data-feather="users"></span>
									View All Test Types
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/add-testtype">
									<span data-feather="users"></span>
									Add New Test Type
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/add-test-category">
									<span data-feather="bar-chart-2"></span>
									Test Category
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/add-test-group">
									<span data-feather="layers"></span>
									Test Groups
								</a>
							</li>

							<li class="nav-item">
								<h5>Doctors</h5>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'doctors' %}">
									<span data-feather="layers"></span>
									View All Doctors
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'add-doctor' %}">
									<span data-feather="layers"></span>
									Add New Doctor
								</a>
							</li>
							<li class="nav-item">
								<h5>Reporting</h5>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'reports' %}">
									<span data-feather="layers"></span>
									Generate Reports
								</a>
							</li>


						</ul>

						<ul class="nav flex-column mb-2">
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">PPRA - Polymedical Patient Report Adaptor </h1>
					</div>
					{% block content %}
					{% endblock %}
				</main>
			</div>
		</div>
	</body>
</html>
