{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class="form" method="post">{% csrf_token %}
	<table class="table table-striped">
		{{ form | crispy }}
	</table>
    <input class="btn btn-success" type="submit" value="Add New Doctor">
</form>

{% endblock %}
