{% extends 'base.html' %}
{% block content %}

<script>
 $(document).ready(() => {
	 code = "";
	 for (i = 2010; i <= 2050; i++)
		 code += `<option value="${i}">${i}</option>`;
	 $("#year").html(code);
	 code = "";
	 let months = [ "January", "February", "March", "April", "May", "June",
					"July", "August", "September", "October", "November", "December" ];
	 for (i = 0; i < months.length; i++)
		 code += `<option value="${i}">${ months[i] }</option>`;
	 $("#month").html(code);
 });

 function getTestsByDate() {
	 consoloe.log(`/tests-by-dr/{{dr.id}}/${$("#year").val()}/${$("#month").val()}`)
 }
</script>

<a class="btn btn-success" href="{% url 'add-doctor'%}">Add New Doctor</a>
<hr>
<table class="table table-striped table-sm table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for dr in object_list %}
		<tr>
			<th scope="row">{{dr.id}}</th>
			<td>{{dr.name}}</td>
			<td>
				<div class="btn-group" role="group">
					<a class="btn btn-warning" href="{% url 'update-doctor' dr.id %}">Update</a>
					<a class="btn btn-primary" href="{% url 'tests-by-dr' dr.id %}">Tests by Dr.</a>
					<a class="btn btn-danger" href="{% url 'delete-doctor' dr.id %}">Delete</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a {% if page_obj.has_previous %} class="page-link" href="?page={{ page_obj.previous_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Previous
			</a>
		</li>
		<li class="page-item">
			<a {% if page_obj.has_next %} class="page-link" href="?page={{ page_obj.next_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Next
			</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}
