{% extends 'base.html' %}


{%block content%}
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Pan Number</th>
			<th scope="col">Mold. Reg. No.</th>
			<th scope="col">Reg. No.</th>
			<th scope="col">Council Reg. No.</th>
		</tr>
	</thead>
	<tbody>
		{% for lab in labs %}

		<tr>
			<th scope="row">{{lab.id}}</th>
			<th>{{lab.name}}</th>
			<th>{{lab.pan_no}}</th>
			<th>{{lab.mold_reg_no}}</th>
			<th>{{lab.reg_no}}</th>
			<th>{{lab.council_reg_no}}</th>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
