{% extends 'base.html' %}
{% block content %}

<script>
 $(document).ready( function() {
	 let tmrw = new Date()
	 tmrw.setDate(tmrw.getDate() + 1)
	 let month_ago = new Date()
	 month_ago.setMonth(tmrw.getMonth() - 1)
	 if ($('#date-to').val() =="")
		 $('#date-to').val(tmrw.toJSON().slice(0,10).replace(/-/g,'-'));
	 if ($('#date-from').val() == "")
		 $('#date-from').val(month_ago.toJSON().slice(0,10).replace(/-/g,'-'));
 });
</script>

<form method=GET>
	<div class="row">
		<div class="col col-sm-6">
			<div class="form-group">
				<div class="input-group">
					<input id="date-from" type="date"  required name="date-from" class="form-control">
					<input type="date" id="date-to" required name="date-to" class="form-control" value="{{date_to.date.isoformat}}">
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="report-type" id="admin-report" value="admin-report">
				<label class="form-check-label" for="inlineRadio1">Administrative Report</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="report-type" id="test-count-report" value="test-count-report">
				<label class="form-check-label" for="inlineRadio2">Test Count Report</label>
			</div>
			<input type=submit value="Generate Report" class="btn btn-primary">
		</div>
	</div>
</form>


{% endblock %}
