{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered table-sm">
	<tbody>
		<tr>
			<td><b>Referred By</b></td>
			<td>{{object.ref_by}}</td>
		</tr>
		<tr>
			<td><b>Investigation Requested</b></td>
			<td>{{object.investigation_required}}</td>
		</tr>

	</tbody>
</table>
{% endblock %}
