{% extends 'base.html' %}
{% block content %}

<a class="btn btn-success" href="{% url 'create-tax'%}">Add New Tax</a>
<hr>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Method</th>
			<th scope="col">Value</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for tax in object_list %}
		<tr>
			<th scope="row">{{tax.id}}</th>
			<td>{{tax.name}}</td>
			<td>{{tax.method}}</td>
			<td>{{tax.value}}</td>
			<td>
				<div class="btn-group" role="group">
					<a type="button" class="btn btn-danger" href="{% url 'delete-tax' tax.id %}" >Delete</a>
					<a type="button" class="btn btn-warning" href="{% url 'update-tax' tax.id %}" >Update</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a {% if page_obj.has_previous %} class="page-link" href="?page={{ page_obj.previous_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Previous
			</a>
		</li>
		<li class="page-item">
			<a {% if page_obj.has_next %} class="page-link" href="?page={{ page_obj.next_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Next
			</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}
