{% extends 'base.html' %}
{% block content %}



{% if dr %}
<script>
 $(document).ready( function() {
	 let tmrw = new Date()
	 tmrw.setDate(tmrw.getDate() + 1)
	 let month_ago = new Date()
	 month_ago.setMonth(tmrw.getMonth() - 1)
	 if ($('#date-to').val() =="")
		 $('#date-to').val(tmrw.toJSON().slice(0,10).replace(/-/g,'-'));
	 if ($('#date-from').val() == "")
		 $('#date-from').val(month_ago.toJSON().slice(0,10).replace(/-/g,'-'));
	 if ($('#dr-date-to').val() =="")
		 $('#dr-date-to').val(tmrw.toJSON().slice(0,10).replace(/-/g,'-'));
	 if ($('#dr-date-from').val() == "")
		 $('#dr-date-from').val(month_ago.toJSON().slice(0,10).replace(/-/g,'-'));

 });
</script>

<form method=GET>
	<div class="row">
		<div class="col col-sm-6">
			<div class="form-group">
				<div class="input-group">
					<input id="date-from" type="date"  required name="date-from" class="form-control" value="{{date_from.date.isoformat}}" >
					<input type="date" id="date-to" required name="date-to" class="form-control" value="{{date_to.date.isoformat}}">
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<input type=submit value="Get Tests For {{dr.name}}" class="btn btn-primary">
		</div>
	</div>
</form>
<form method=POST action="{% url 'reports-by-dr' dr.id %}">{% csrf_token %}
	<div class="row">
		<div class="col col-sm-6">
			<div class="form-group">
				<div class="input-group">
					<input id="dr-date-from" type="date"  required name="date-from" class="form-control" value="{{date_from.date.isoformat}}" >
					<input type="date" id="dr-date-to" required name="date-to" class="form-control" value="{{date_to.date.isoformat}}">
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<input type=submit value="Generate Report For {{dr.name}}" class="btn btn-primary">
		</div>
	</div>
</form>

{% endif %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Patient</th>
			<th scope="col">Ref. By</th>
			<th scope="col">Investigation Required</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for test in object_list %}
		<tr>
			<th scope="row">{{test.id}}</th>
			<td>{{test.patient.name}}, {{test.patient.age}}, from {{test.patient.address}}</td>
			<td>{{test.ref_by}}</td>
			<td>{{test.investigation_required}}</td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href="{% url 'test' test.id %}" class="btn btn-primary">Details</a>
				</div>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href="{% url 'delete-test' test.id %}" class="btn btn-danger">Delete</a>
				</div>

			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a {% if page_obj.has_previous %} class="page-link" href="?page={{ page_obj.previous_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Previous
			</a>
		</li>
		<li class="page-item">
			<a {% if page_obj.has_next %} class="page-link" href="?page={{ page_obj.next_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Next
			</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}
