{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="btn-group" role="group" aria-label="Basic example">
	<a type="button" href="{% url 'generatePDF' object.id %}" class="btn btn-sm btn-primary">Report</a>
	<a type="button" href="{% url 'generatePDFWithoutSign' object.id %}" class="btn btn-sm btn-secondary">Report Without Signature</a>
	<a type="button" href="{% url 'generateConjustedPDF' object.id %}" class="btn btn-sm btn-primary">Conjusted Report</a>
	<a type="button" href="{% url 'generateConjustedPDFWithoutSign' object.id %}" class="btn btn-sm btn-secondary">Conjusted Report Without Sign</a>
	<a type="button" href="{% url 'generateBill' object.id %}" class="btn btn-sm btn-success">Print Bill</a>
	<a type="button" href="{% url 'delete-test' object.id %}" class="btn btn-sm btn-danger">Delete Test</a>
</div>
<hr>
{% if not object.bill.is_paid %}
<div class="alert alert-danger" > <span class="align-middle">Test is currently unpaid!</span></div>
<form method="POST" action="{% url 'makePaymentForTest' object.id %}">{% csrf_token %}
	<div class="row">
		<div class="col">
			<input type="number" step="0.01" name="discount" value="{{due_discount.0}}" class="form-control" placeholder="Discount">
		</div>
		<div class="col">
			<input type="number" step="0.01" value="{{due_discount.1}}" name="paid" class="form-control" placeholder="Paid Amount">
		</div>
		<div class="col">
			<input class="btn btn-success" type="submit" class="form-control" value="Pay Bill">
		</div>

	</div>
</form>
{% else %}
<div class="alert alert-success" > <span class="align-middle">Test is paid off!</span></div>

{% endif %}

<h3> Patient Details </h3>
<table class="table table-striped table-bordered table-sm">
	<tbody>
		<tr>
			<td><b>Date</b></td>
			<td>{{object.date_requested.date}}</td>
		</tr>

		<tr>
			<td><b>Name</b></td>
			<td>{{object.patient.name | capfirst}}</td>
		</tr>
		<tr>
			<td><b>Age</b></td>
			<td>{{object.patient.age | capfirst}}</td>
		</tr>
		<tr>
			<td><b>Sex</b></td>
			<td>{{object.patient.sex | capfirst}}</td>
		</tr>
		<tr>
			<td><b>Address</b></td>
			<td>{{object.patient.address | capfirst}}</td>
		</tr>

	</tbody>
</table>

<h3> Doctor Details </h3>
<table class="table table-bordered table-sm">
	<tbody>
		<tr>
			<td><b>Referred By</b></td>
			<td>{{object.ref_by}}</td>
		</tr>
		<tr>
			<td><b>Investigation Requested</b></td>
			<td>{{object.investigation_required}}</td>
		</tr>

	</tbody>
</table>

<h3> Tests </h3>

<table class="table table-bordered table-sm">
	<thead>
		<tr>
			<th scope="col">Acronym</th>
			<th scope="col">Name</th>
			<th scope="col">Method</th>
			<th scope="col">Value</th>
			<th scope="col">Validity</th>
			<th scope="col">Reference Value</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody>

		{% for t in testParticularValues %}
		<tr>
			<td>{{t.particular.acronym}}</td>
			<td>{{t.particular.name}}</td>
			<td>{{t.particular.method | default:"N/A"}}</td>
			<td {% if not t.is_valid %} class="text-danger" {% endif %}>{{t.get_value}}</td>
			<td>{% if t.is_valid %} Normal {% else %} Abnormal {% endif %} </td>
			<td>{{t.get_ref}}</td>
			<td>Rs. {{t.get_price | intcomma}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="6" class="text-right">Total</td>
			<td>Rs. {{ test.bill.total | intcomma }}</td>
		</tr>

		{% for tax in object.bill.tax_values %}
		<tr>
			<td class="text-right" colspan="5">{{ tax.0.name }}</td>
			<td class="text-right">{{ tax.0.get_value_for_display }} </td>
			<td >Rs. {{tax.1 | intcomma}} </td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="6" class="text-right">Total With Taxes</td>
			<td>Rs. {{ test.bill.total_with_taxes | intcomma }}</td>
		</tr>
		<tr>
			<td colspan="6" class="text-right">Discount</td>
			<td>Rs. {{ test.bill.discount | intcomma }}</td>
		</tr>
		<tr>
			<td colspan="6" class="text-right">Paid</td>
			<td>Rs. {{ test.bill.paid | intcomma }}</td>
		</tr>
		<tr>
		    <td colspan="6" class="text-right">{% if test.bill.get_current <= 0 %}Return {% else %}Due{% endif %}</td>
			<td>Rs. {{ test.bill.get_current | intcomma }}</td>
		</tr>

	</tbody>
</table>
{% endblock %}
