{% extends 'base.html' %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete Test Type - "{{ object }}"?</p>

	<button type="submit" class="btn btn-danger">Delete Test Type</button>
</form>
{% endblock %}
