{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class="form" method="post">{% csrf_token %}
	<table class="table table-striped">
		{{ form | crispy }}
	</table>
    <input class="btn btn-warning" type="submit" value="Update">
</form>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Update</th>
		</tr>
	</thead>
	<tbody>
		{% for group in object.groups.all %}
		<tr>
			<th scope="row">{{group.id}}</th>
			<td>{{group.group.name}}</td>
			<td>{{group.price}}</td>
			<td><a class="btn btn-warning" href="{% url 'update-test-particular-group-price' group.id %}" >Update</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>



{%for group in object.groups.all%}



{% endfor %}

{% endblock %}
