{% extends 'base.html' %}
{% block content %}

<script>
 var particulars = [
	 {% autoescape off %}
	 {% for p in test_particulars %}
	 {
		 id:  {{ p.id }},
		 acronym: "{{p.acronym}}",
		 name: "{{p.name}}",
		 unit: "{{p.unit}}",
		 ref_value: "{{p.ref_value | default:"''"}}",
		 depends_on: {{ p.depends_on_json }},
		 ref_op: {{p.get_ref_ops}},
		 is_calculated: {{p.is_calculated | lower}},
		 no_groups: {{ p.get_groups | length }},
		 ref_type: "{{p.ref_type}}",
		 ref_values: {{p.get_ref_values_as_json}}
	 }{% if not forloop.last %}, {% endif %}
	 {% endfor %}
	 {% endautoescape %}
 ];
 var groups = [
	 {% autoescape off %}
	 {% for pg in particulars_groups %}
	 {
		 id:  {{ pg.group.id }},
		 name: "{{pg.group.name}}",
		 particulars: [{% for particular in pg.particulars %} {{particular.id}} {% if not forloop.last %}, {% endif %} {% endfor %} ]
	 }{% if not forloop.last %}, {% endif %}
	 {% endfor %}
	 {% endautoescape %}
 ];
 function generateTestFields(group_id="0", container = "data", tests = null) {
	 if (tests == null)
		 tests = $("#test-particulars").val();
	 console.log(tests);
	 c = $("#" + container)
	 if (group_id == 0)
		 c.html("");
	 for (let test of tests) {
		 particular = particulars.find(p => p.id == test)
		 if (group_id == 0 && particular.is_calculated) {
			 var values =  $("#test-particulars").val();
			 console.log(values)
			 for (let el of particular.depends_on)
				 values.push(el.toString())
			 console.log(values)
			 $("#test-particulars").val(values);
		 }
		 let group = null
		 let group_text = ""
		 if (group_id != 0) {
			 group = groups.filter(g => g.id == group_id)[0]
			 group_text = `<span class='text-success'> ${ group.name } </span>`
		 }
		 let calculated_val = "required "
		 if (particular.is_calculated) calculated_val = "hidden value='Calculated Value'"
		 /* perform action  */
		 if (particular.ref_type == "range") {
			 c.append( `<div class="form-row"><div class="col"><label class="form-check-label" for="particular-${ particular.id }">${ group_text }${particular.name} ( ${ particular.unit }) with reference value - ${ particular.ref_value }</label></div></div><div class="row"><div class="col"><input type="hidden" name="group-${ group_id }" value="${particular.id}"><input ${calculated_val} type="number" step="0.00001" id="particular-${ particular.id }" name="particular-${ particular.id }" class="form-control" placeholder="Test Value"></div></div><br>`);
		 }

		 else if (particular.ref_type == "list" || particular.ref_type == "multilist" || particular.ref_type == "boolean") {
			 options = ""
			 for (val of particular.ref_values[0]) {
				 options += `<option value="${ val }">${val}</option>`
			 }
			 multi = (particular.ref_type == "multilist" ? "multiple" : "")
			 c.append( `<div class="form-row"><div class="col"><label class="form-check-label" for="particular-${ particular.id }">${ group_text }${particular.name} ( ${ particular.unit }) with reference value - ${ particular.ref_value }</label></div></div><div class="row"><div class="col"><input type="hidden" name="group-${ group_id }" value="${particular.id}"> <select ${calculated_val} ${ multi } id="particular-${ particular.id }" name="particular-${ particular.id }" class="form-control" placeholder="Test Value">${options}</select></div></div><br>`);
		 }

		 else {
			 c.append( `<div class="form-row"><div class="col"><label class="form-check-label" for="particular-${ particular.id }">${ group_text }${particular.name} ( ${ particular.unit }) with reference value - ${ particular.ref_value }</label></div></div><div class="row"><div class="col"><input type="hidden" name="group-${ group_id }" value="${particular.id}"><input ${calculated_val} type="text" id="particular-${ particular.id }" name="particular-${ particular.id }" class="form-control" placeholder="Test Value"></div></div><br>`);
		 }
	 }
 }
 $(document).ready( () => {
	 generateTestFields();generateTestFields();
 } );


 function generateForGroups() {
	 group_val = $("#test-groups").val().map( g => parseInt(g));
	 gps = groups.filter( g => group_val.includes(g.id) );
	 console.log(gps);
	 $("#group-data").html("");
	 for (let group of gps) {
		 parts = group.particulars;
		 generateTestFields(group_id=group.id, container = "group-data", tests = parts);
	 }
 }

</script>


<form method="POST">{% csrf_token %}


	<h3> Patient Details</h3>

	<div class="form-row">
		<div class="col col-sm-4 mb-3">
			<input type="text" name="patient-name" class="form-control" placeholder="Patient Name" required>
		</div>
		<div class="col col-sm-2 mb-3">
			<input type="number" name="patient-age" class="form-control" placeholder="Patient Age" required>
		</div>
		<div class="col col-sm-2 mb-3">
			<select name="patient-sex" class="custom-select">
				<option value="male">Male</option>
				<option value="female">Female</option>
				<option value="other">Other</option>
			</select>
		</div>
		<div class="col mb-3">
			<input type="text" name="patient-address" class="form-control" placeholder="Patient Address" required>
		</div>
	</div>
	<h3> Doctor Details </h3>
	<div class="form-row">
		<div class="col col-sm-4 mb-3">
			<select name="ref-by" class="custom-select">
				{% for dr in doctors %}
				<option value="{{dr.id}}">{{dr.name}}</option>
				{% endfor %}

			</select>
		</div>
	</div>
	<h3> Test Details </h3>
	<div class="form-row">
		<div class="col">
			<a class="btn btn-primary" onclick="$('#test-particulars').val([]);generateTestFields();"> Clear Tests </a>
			<select class="custom-select" id="test-particulars" multiple size="10" onchange="generateTestFields();generateTestFields();">
				{% for particular in test_particulars %}
				<option value="{{particular.id}}">{{particular.name}} {{particular.unit}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col">
			<a class="btn btn-primary" onclick="$('#test-groups').val([]);generateForGroups();"> Clear Groups </a>
			<select class="custom-select" id="test-groups" multiple size="10" onchange="generateForGroups();">
				{% for group in groups %}
				<option value="{{group.id}}">{{group.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>
	<div id="data"></div>
	<div id="group-data"></div>
	<div class="form-row">
		<div class="col">
			<button type="submit"
						  class="btn btn-primary mb-3">Add New Test</button>
		</div>
	</div>
</form>



{% endblock %}
