{% extends 'base.html' %}
{% block content %}
{% if is_paginated %}
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a {% if page_obj.has_previous %} class="page-link" href="?page={{ page_obj.previous_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Previous
			</a>
		</li>
		<li class="page-item">
			<a {% if page_obj.has_next %} class="page-link" href="?page={{ page_obj.next_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Next
			</a>
		</li>
	</ul>
</nav>
{% endif %}


<table class="table table-bordered table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Acronym</th>
			<th scope="col">Name</th>
			<th scope="col">Unit</th>
			<th scope="col">Method</th>
			<th scope="col">Calculated Value</th>
			<th scope="col">Category</th>
			<th scope="col">Reference Value</th>
			<th scope="col">Reference Type</th>
			<th scope="col">Price</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for test in object_list %}
		<tr>
			<th class="col-1" scope="row">{{test.id}}</th>
			<td class="col-1">{{test.acronym}}</td>
			<td class="col-2">{{test.name}}</td>
			<td class="col-1">{{test.unit}}</td>
			<td class="col-1">{{test.method}}</td>
			<td class="col-1">{{test.calculated_value}}</td>
			<td class="col-1">{{test.category.name}}</td>
			<td class="col-1">{{test.get_ref_values_for_display}}</td>
			<td class="col-1">{{test.ref_type}}</td>
			<td class="col-2">{% for group in test.groups.all %} <p>{{group.group.name}} : {{group.price}}</p> {% endfor %}</td>
			<td class="col-2">
				<a class="btn btn-sm btn-danger" href="{% url 'delete-test-type' test.id %}">Delete</a>
				<a class="btn btn-sm btn-warning" href="{% url 'update-test-type' test.id %}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a {% if page_obj.has_previous %} class="page-link" href="?page={{ page_obj.previous_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Previous
			</a>
		</li>
		<li class="page-item">
			<a {% if page_obj.has_next %} class="page-link" href="?page={{ page_obj.next_page_number }}" {% else %} class="page-link disabled" {% endif %}>
				Next
			</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}
