{% extends 'base.html' %}


{% block content %}
<script>
 $(document).ready( () => $('input[name="colour"]').colorPicker({readOnly: true}));
</script>


<form class="form" method="post">{% csrf_token %}
	<table>
		{{ form.as_p }}
	</table>
    <input class="btn btn-warning" type="submit" value="Update">
</form>

{% endblock %}
